<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h1>Hola Mundo desde el Backend</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat praesentium cupiditate alias
      nam ratione eos porro aliquam similique nostrum aperiam, placeat aut illum facilis
      exercitationem id ea fugit amet ad?
    </p>
  </body>
</html>
