<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Registro</h1>
      <form action="/users/registro" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
        <label for="email">Password</label>
        <input type="password" name="password" id="password" />
        <input type="submit" value="Registrar" />
      </form>
    </div>
  </body>
</html>
