.container {
    border: 1px solid black;
    border-radius: 8px;
    margin: 25px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    max-height: 200px;
    overflow: hidden;
        img{
            width: 120px;
            height: 120px;
            margin-right: 10px;
        }
}

.containerButtons{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}